aniso8601==9.0.1
click==8.0.4
dataclasses==0.8
Flask==2.0.3
Flask-RESTful==0.3.10
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
marshmallow==3.14.1
psycopg2==2.7.7
python-dotenv==0.20.0
pytz==2023.3.post1
six==1.16.0
SQLAlchemy==1.4.49
typing_extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
